[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
aioredis = "*"
uvicorn = "*"
gunicorn = "*"
orjson = "*"
pydantic = {extras = ["dotenv"], version = "*"}
sqlalchemy = "*"
asyncpg = "*"
alembic = "*"
sentry-sdk = "*"

[dev-packages]
black = "==21.12b0"
isort = "*"
flake8 = "*"
pylint = "*"
mypy = "*"
bandit = "*"
pytest = "*"

[requires]
python_version = "3.10"
